[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
gunicorn = "*"
scikit-learn = "*"
Flask = "*"
Flask-Bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.6"
